<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcela — Cadastro</title>
</head>
<body>
    <h1>Manutenção de Atividades</h1>
    <form action="index.php" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Formulário</legend>
            <label for="id">Id:</label>
            <input type="text" name="id" readonly value={id}>

            <label for="nome">Nome:</label>
            <input type="text" name="nome" value={nome}>
            <br><br>

            <input type="radio" name="tipo" id="tipo" value="1"> Professor
            <input type="radio" name="tipo" id="tipo" value="2"> Aluno
            <br><br>

            <label for="matricula">Matricula:</label>
            <input type="text" name="matricula" value={matricula}>
            <label for="salario">Salário:</label>
            <input type="text" name="salario" id="salario" value="{salario}">
            <br><br>
            
            <label for="email">E-mail:</label>
            <input type="email" name="email" value={email}>

            <label for="contato">Contato:</label>
            <input type="phone" placeholder="DDD XXXXX-XXXX" name="contato" value={contato}>
            <br><br>
            <label for="password">Senha:</label>
            <input type="password" name="senha" value={senha}>
            <button type="submit" name="acao" value="salvar">Salvar</button>
            <button type="submit" name="acao" value="excluir">Excluir</button>
            <input type="reset" value="Cancelar">
        </fieldset>
    </form>
</body>
</html>